body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.6);
    border-color: rgba(0, 0, 255, 0.6);
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
