<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Anemia Prediction</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="/static/css/landing_style.css" />
  </head>
  <body>
    <div class="container">
        <form action="/predict" method="get" class="nav">
            <a href="/" class="navl">Home</a>
            <a href="" class="navl">About</a>

            <button type="submit" class="but">Predict</button>
        </form>   
    </div>
  </body>
</html>
